.site-intro{
    width:700px;
    text-align: center;
    padding-top: 50px;
   /* background-image: linear-gradient(rgba(236, 158, 215, 0.7),rgba(157, 248, 250, 0.7)), url(../../assets/images/anna.jpeg);*/
    border-radius: 30%;
    margin-left: 40px;
    margin-top: 50px;

    
}
.site-intro h4{
    color: blueviolet;
    font-size: 40px;
    padding-top: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.site-intro h1{
    font-size: 30px;
    font-weight: 0px;
    padding-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.site-intro h2{
    padding-top: 15px;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.site-intro h3{
    padding-top: 10px;
    font-weight: lighter;
    font-size: 15px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 1000px) {
    .site-intro{
        width:100%;
        align-items: center;
        padding-top: 0px;
        margin-top: 5px;
    }
    /*.site-service{
        padding: 0px 200px 0px 200px;
    }*/
}
