
<div class="contact">
    <form action="#">
       <h3>Name</h3>
        <input type="text" placeholder="Enter Your Name" [(ngModel)]="contactName">
        <h3>Email</h3>
            <input type="email" placeholder="Enter Your Email" [(ngModel)]="contactEmail">
        <h3>Message</h3>
        <textarea name="message" id="" cols="30" rows="10" placeholder="Leave A Message" [(ngModel)]="contactMessage"></textarea>
       
       
            
            <div><button type="submit" (click)="onclickDone()">Done</button></div>
        
       
      
    </form>
</div>
