
<div class="contact">
    <form [formGroup]="contactForm" (submit)="onclickDone()">
       <h3>Name</h3>
        <input type="text" placeholder="Enter Your Name" formControlName="name">
        <h3>Email</h3>
        <input type="email" placeholder="Enter Your Email" formControlName="email">
        <h3>Message</h3>
        <textarea name="message" id="" cols="30" rows="10" placeholder="Leave A Message" formControlName="message"></textarea>
        <div><button type="submit">Done</button></div>
        
       
      
    </form>
</div>
