.site{
    /*background-color: #0E8388;*/
    padding: 30px;

    
    
}
.site-service{
    
    display: flex;
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 250px;
    
}
.site h2{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 20px;
}
.color{
    background-color: white;
    width: 250px;
    height: 250px;
    padding: 50px 5px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 2px 4px 4px #2E4F4F;
}
.color h3{
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px 10px;
}
.color p{
    font-size: 15px;
    font-family: inherit;
    text-align: center;
    padding: 5px 5px;
    line-height: 20px;
}
.color button{
    margin-top: 50px;
    
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 25px;
    margin-bottom: 100px;
    color: black;
    background-color: #CBE4DE;

}
.site-service img{
    width: 100px;
    height: 100px;
}