*{
    margin: 0px;
}
.site{
    background-color: #0E8388;
    padding: 30px;

    
    
}
.site-service{
    
    /*display: flex;*/
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    background-color: black;
    
}
.site h2{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 20px;
}
.coloration{
    background-color: rgb(229, 150, 150);
    width: 250px;
    max-height: 350px;
    padding-bottom: 20px;
    padding: 20px 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 2px 2px 2px black;
}
.coloration h3{
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:5px 10px;
}
.coloration p{
    font-size: 15px;
    font-family: inherit;
    text-align: center;
    padding: 0px 5px;
    line-height: 20px;
}
.coloration button{
    margin-top: 50px;  
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 25px;
    margin-bottom: 100px;
    color: black;
    background-color: #CBE4DE;

}
.site-service img{
    width: 100px;
    height: 100px;
    
}

/* Media Queris */
@media only screen and (max-width: 1000px) {
    .coloration{
        width:100%;
        align-items: center;
    }
    /*.site-service{
        padding: 0px 200px 0px 200px;
    }*/
}